<!-- src/app/descarte-consciente/descarte-consciente.page.html -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Descarte Consciente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Dicas práticas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>Separe corretamente os resíduos ao chegar em casa.</ion-item>
        <ion-item>Leve itens recicláveis aos pontos de coleta próximos.</ion-item>
        <ion-item>Evite desperdício, reutilize quando possível.</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Conteúdo educativo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>Impacto ambiental da correta segregação.</li>
        <li>Rotas de descarte consciente na comunidade.</li>
        <li>Benefícios de reduzir resíduos enviados a aterros.</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" routerLink= '' >Voltar à home</ion-button>
</ion-content>