<!-- src/app/apresentacao/apresentacao.page.html -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Apresentação do projeto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Visão geral</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Este guia foi desenvolvido para transformar a sustentabilidade em um hábito cotidiano. 
      Com foco em educação ambiental, o aplicativo oferece orientações claras sobre coleta seletiva 
      e descarte consciente, servindo como uma ferramenta prática de apoio à comunidade local

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Estrutura didática</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      O conteúdo foi organizado de forma intuitiva, utilizando cards 
      e listas interativas. Essa estrutura foi pensada para 
      facilitar a leitura rápida e garantir que as informações sejam aplicadas com facilidade no seu dia a dia.
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" routerLink=''>Voltar à home</ion-button>
</ion-content>