<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sobre o Projeto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="welcome-card">
    <div class="header-icon-container">
      <ion-icon name="planet-outline" color="primary"></ion-icon>
    </div>
    
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center">Guia de Sustentabilidade</ion-card-subtitle>
      <ion-card-title class="ion-text-center">Visão Geral</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-text-justify">
      Este guia foi desenvolvido para transformar a sustentabilidade em um hábito cotidiano. Com foco em <strong>educação ambiental</strong>, oferecemos orientações claras sobre coleta seletiva e descarte consciente.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item lines="none" class="methodology-header">
      <ion-icon name="layers-outline" slot="start" color="primary"></ion-icon>
      <ion-card-title>Estrutura Didática</ion-card-title>
    </ion-item>

    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-badge slot="start" color="primary">1</ion-badge>
          <ion-label>Cards informativos de leitura rápida.</ion-label>
        </ion-item>
        <ion-item>
          <ion-badge slot="start" color="primary">2</ion-badge>
          <ion-label>Listas organizadas por categorias.</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <div class="navigation-container">
    <ion-button expand="block" shape="round" routerLink='' routerDirection="back">
      <ion-icon name="chevron-back" slot="start"></ion-icon>
      Voltar ao Início
    </ion-button>
  </div>
</ion-content>