/* src/app/coleta-seletiva/coleta-seletiva.page.scss */
ion-card {
  margin-bottom: 12px;
  color: "light";
}

.icon1{
  color: yellow;
  font-size: 32px;
}

.icon2{
  color: blue;
}

.icon3{
  color: green;
}

.icon4{
  color: red;
}