<!-- src/app/objetivo/objetivo.page.html -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Objetivo social</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Objetivo geral</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Conscientizar a comunidade local sobre a importância da correta separação e destinação dos resíduos, incentivando hábitos mais sustentáveis no cotidiano.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Objetivos específicos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>Estimular a adoção de práticas sustentáveis no dia a dia da população.</li>
        <li>Fornecer orientações simples, claras e acessíveis sobre o descarte responsável de resíduos.</li>
        <li>Promover a educação ambiental por meio de conteúdo estático, organizado e de fácil compreensão..</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" routerLink=''>Voltar à home</ion-button>
</ion-content>